#page-wrap {
    margin: 0 auto;
    width: 550px;
}

#header {
    margin-bottom: 10px;
}

    #header img {
        vertical-align: middle;
        margin: 0 5px;
    }

    #header span {
        font-size: 20pt;
        white-space: pre;
    }

#queryForm table {
    width: 100%;
}

#queryForm td:nth-child(2) {
    width: 100%;
    padding: 0 1em;
}

#messagecontainer {
    font-size: 10pt;
    color: darkslategray;
}

#sentimentresults {
    border: 1px solid #c5dbec;
    margin-top: 1em;
}

    #sentimentresults legend {
        font-weight: bold;
        color: #2e6e9e;
    }

#unregister {
    margin: 1em;
}

/* Styles for basic forms
-----------------------------------------------------------*/

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

    .editor-label:after {
        content: ":";
    }

.editor-field 
{
    margin:0.5em 0 0 0;
}

input[type=submit] {
    margin:1em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #c73737;
    font-size: 11pt;
    display: block;
    margin: 5px 0 0 5px;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    background-color: #f3bebe;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #c73737;
}

.validation-summary-valid
{
    display: none;
}