<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <servers/>
  <mirrors/>
  <proxies/>
  <profiles>
	<profile>
    	<id>geronimo-linux</id>
	    <activation>
			<os>
				<family>unix</family>
			</os>
	    </activation>
	    <properties>
	        <geronimo.home>/opt/geronimo3/</geronimo.home>
	    </properties>
	</profile>
	<profile>
    	<id>geronimo-mac</id>
	    <activation>
			<os>
				<family>mac</family>
			</os>
	    </activation>
	    <properties>
	        <geronimo.home>/opt/geronimo3/</geronimo.home>
	    </properties>
	</profile>
	<profile>
    	<id>geronimo-win</id>
	    <activation>
			<os>
				<family>windows</family>
			</os>
	    </activation>
	    <properties>
	        <geronimo.home>C:\g</geronimo.home>
	    </properties>
	</profile>
  </profiles>
  <activeProfiles/>
</settings>
