@model Website.Models.Credentials

@{
    ViewBag.Title = "Twitter Sentiment Analyzer";
}

@if (false)
{
    <script src="@Url.Content("~/Scripts/jquery-1.8.3-vsdoc.js")" type="text/javascript"></script>
}

<script type="text/javascript">
    function DisplayMessage(message) {
        $('<li></li>').html(message).hide().appendTo('#messagecontainer')
            .fadeIn('fast').delay(8000).fadeOut('slow');
    }

    $(function () {
        $('#tabs').tabs();
        @foreach (var message in (IEnumerable<String>)TempData["Messages"] ?? new String[0])
        {
            @:DisplayMessage('@message');
        }
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="#sentiment-tab">Sentiment Query</a></li>
        <li><a href="@Url.Action("Billing")">Billing</a></li>
        <li><a href="@Url.Action("Account")">Account</a></li>
    </ul>
    <div id="sentiment-tab">
        @Html.Action("SentimentQuery")
    </div>
</div>

<ul id="messagecontainer" class="ui-widget"></ul>