@model Website.Infrastructure.InvokerContext
@using Website.Infrastructure

@{
    dynamic parameters = Model.Parameters.ToExpando();
}

<div class="sentimentresult">
    The sentiment from @parameters.DateFrom.ToShortDateString() to @parameters.DateTo.ToShortDateString() is: @Model.Results.Sentiment.ToString("0.000")
</div>