*.suo
Workflows/bin/
Workflows/obj/
WorkflowTests/bin/
WorkflowTests/obj/
TestResults/
ServiceActivities/bin/
ServiceActivities/obj/
ServiceActivities.Design/bin/
ServiceActivities.Design/obj/
Website/bin/
Website/obj/
Website.Infrastructure/bin/
Website.Infrastructure/obj/