<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccountingServiceSoapBinding" />
        <binding name="PaymentServiceSoapBinding" />
        <binding name="SentimentServiceSoapBinding" />
        <binding name="TwitterServiceSoapBinding" />
        <binding name="UserServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/BaseServices/services/Accounting"
          binding="basicHttpBinding" bindingConfiguration="AccountingServiceSoapBinding"
          contract="IAccounting" name="Accounting" />
      <endpoint address="http://localhost:8080/BaseServices/services/Payment"
          binding="basicHttpBinding" bindingConfiguration="PaymentServiceSoapBinding"
          contract="IPayment" name="Payment" />
      <endpoint address="http://localhost:8080/BaseServices/services/Sentiment"
          binding="basicHttpBinding" bindingConfiguration="SentimentServiceSoapBinding"
          contract="ISentiment" name="Sentiment" />
      <endpoint address="http://localhost:8080/BaseServices/services/Twitter"
          binding="basicHttpBinding" bindingConfiguration="TwitterServiceSoapBinding"
          contract="ITwitter" name="Twitter" />
      <endpoint address="http://localhost:8080/BaseServices/services/User"
          binding="basicHttpBinding" bindingConfiguration="UserServiceSoapBinding"
          contract="IUser" name="User" />
    </client>
  </system.serviceModel>
</configuration>
